* {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.sign {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin: 5%;
}

.container{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table {
    margin: auto;
    text-align: left;
}

::selection{
    color: lightpink;
}

th, td{
    padding: 8px;
}

td {
    text-transform: uppercase;
    background-color: #e4e4e4;
    border: solid white;
    margin: 10px;
    padding: 10px;
}

.btn {
    width: 20%;
    margin:auto;
}

.form {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin:auto;
}

input {
    text-align: center;
}

.btn:hover {
    background: lightgreen;
}
tr:hover {
    background-color: lightgray;
}