<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../standalone app/css/base.css">
    <title>file</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <table>
<tr>
<th>
Year
</th>
<th>
Organization
</th>
<th>
Department
</th>
<th>
Position
</th>
<th>
Position count
</th>
<th>
Planned position count
</th>
<th>
Expense total
</th>
<th>
Course cost
</th>
<th>
Course days
</th>
<th>
Terminations
</th>
<th>
Internal hires
</th>
<th>
External hires
</th>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Human Resources
</td>
<td>
Vice-President of Human Resources
</td>
<td>
1
</td>
<td>
1
</td>
<td>
203,072.40
</td>
<td>
10,500
</td>
<td>
4
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Human Resources
</td>
<td>
Human Resources Administrator
</td>
<td>
1
</td>
<td>
1
</td>
<td>
51,582.74
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Human Resources
</td>
<td>
Benefit Specialist
</td>
<td>
2
</td>
<td>
2
</td>
<td>
79,115.38
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Human Resources
</td>
<td>
Human Resources Clerk
</td>
<td>
2
</td>
<td>
2
</td>
<td>
65,658.44
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Finance
</td>
<td>
Controller
</td>
<td>
1
</td>
<td>
1
</td>
<td>
205,051.67
</td>
<td>
10,500
</td>
<td>
4
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Finance
</td>
<td>
Finance Manager
</td>
<td>
1
</td>
<td>
1
</td>
<td>
151,033.62
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Finance
</td>
<td>
Financial Analyst
</td>
<td>
1
</td>
<td>
1
</td>
<td>
72,348.87
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Finance
</td>
<td>
Budget Analyst
</td>
<td>
1
</td>
<td>
1
</td>
<td>
55,637.79
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Finance
</td>
<td>
Payroll Clerk
</td>
<td>
1
</td>
<td>
1
</td>
<td>
47,681.62
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
1
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Finance
</td>
<td>
Accounting Manager
</td>
<td>
1
</td>
<td>
1
</td>
<td>
126,566.70
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Finance
</td>
<td>
Accountant 1
</td>
<td>
2
</td>
<td>
3
</td>
<td>
123,625.32
</td>
<td>
7,750
</td>
<td>
8.5
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Finance
</td>
<td>
Accountant 2
</td>
<td>
4
</td>
<td>
5
</td>
<td>
345,531.55
</td>
<td>
11,500
</td>
<td>
14.5
</td>
<td>
0
</td>
<td>
2
</td>
<td>
1
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Finance
</td>
<td>
Accounting Clerk
</td>
<td>
6
</td>
<td>
6
</td>
<td>
209,388.89
</td>
<td>
6,750
</td>
<td>
9.5
</td>
<td>
0
</td>
<td>
0
</td>
<td>
1
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Marketing
</td>
<td>
Vice-President of Marketing
</td>
<td>
1
</td>
<td>
1
</td>
<td>
200,291.03
</td>
<td>
10,500
</td>
<td>
4
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Marketing
</td>
<td>
Marketing Manager
</td>
<td>
1
</td>
<td>
1
</td>
<td>
65,730.68
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Marketing
</td>
<td>
Marketing Specialist
</td>
<td>
3
</td>
<td>
3
</td>
<td>
123,136.10
</td>
<td>
7,750
</td>
<td>
10.5
</td>
<td>
0
</td>
<td>
0
</td>
<td>
1
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Sales (Corporate)
</td>
<td>
Vice-President of Sales Management
</td>
<td>
1
</td>
<td>
1
</td>
<td>
200,638.43
</td>
<td>
10,500
</td>
<td>
4
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Sales (Corporate)
</td>
<td>
Product Manager
</td>
<td>
2
</td>
<td>
2
</td>
<td>
127,244.47
</td>
<td>
9,750
</td>
<td>
12.5
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Sales (Corporate)
</td>
<td>
Product Technician
</td>
<td>
3
</td>
<td>
3
</td>
<td>
103,109.83
</td>
<td>
5,250
</td>
<td>
13.5
</td>
<td>
0
</td>
<td>
0
</td>
<td>
3
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Procurement
</td>
<td>
Procurement Manager
</td>
<td>
1
</td>
<td>
1
</td>
<td>
71,074.76
</td>
<td>
9,500
</td>
<td>
11.5
</td>
<td>
1
</td>
<td>
0
</td>
<td>
1
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Procurement
</td>
<td>
Procurement Coordinator
</td>
<td>
1
</td>
<td>
1
</td>
<td>
43,492.20
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Procurement
</td>
<td>
Procurement Clerk
</td>
<td>
2
</td>
<td>
2
</td>
<td>
69,915.08
</td>
<td>
4,750
</td>
<td>
6
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Information Services and Technology
</td>
<td>
Vice-President of Information Technology
</td>
<td>
1
</td>
<td>
1
</td>
<td>
200,632.30
</td>
<td>
10,500
</td>
<td>
4
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Information Services and Technology
</td>
<td>
Information Technology Manager
</td>
<td>
1
</td>
<td>
1
</td>
<td>
103,442.03
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Information Services and Technology
</td>
<td>
System Analyst
</td>
<td>
1
</td>
<td>
1
</td>
<td>
46,275.30
</td>
<td>
8,250
</td>
<td>
9.5
</td>
<td>
1
</td>
<td>
0
</td>
<td>
1
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Information Services and Technology
</td>
<td>
Software Engineer
</td>
<td>
2
</td>
<td>
2
</td>
<td>
129,905.41
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Information Services and Technology
</td>
<td>
Computer Operator
</td>
<td>
2
</td>
<td>
2
</td>
<td>
67,323.01
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Executive Offices
</td>
<td>
Executive Vice-President
</td>
<td>
1
</td>
<td>
1
</td>
<td>
235,974.33
</td>
<td>
10,500
</td>
<td>
4
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Production and Distribution
</td>
<td>
Regional Manager
</td>
<td>
1
</td>
<td>
1
</td>
<td>

</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Executive Offices
</td>
<td>
Chief Executive Officer
</td>
<td>
1
</td>
<td>
1
</td>
<td>
347,719.25
</td>
<td>
10,500
</td>
<td>
4
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas corporate
</td>
<td>
Executive Offices
</td>
<td>
Chief Financial Officer
</td>
<td>
1
</td>
<td>
1
</td>
<td>
296,261.64
</td>
<td>
10,500
</td>
<td>
4
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas operations
</td>
<td>
Production and Distribution
</td>
<td>
Regional Manager
</td>
<td>

</td>
<td>

</td>
<td>
135,635.11
</td>
<td>

</td>
<td>

</td>
<td>

</td>
<td>

</td>
<td>

</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas operations
</td>
<td>
Production and Distribution
</td>
<td>
Franchise Distribution Manager
</td>
<td>
2
</td>
<td>
2
</td>
<td>
157,750.72
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas operations
</td>
<td>
Production and Distribution
</td>
<td>
Warehouse Manager
</td>
<td>
4
</td>
<td>
4
</td>
<td>
250,150.96
</td>
<td>
5,250
</td>
<td>
6
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas operations
</td>
<td>
Production and Distribution
</td>
<td>
Warehouse Worker
</td>
<td>
11
</td>
<td>
11
</td>
<td>
392,919.91
</td>
<td>
1,600
</td>
<td>
5.5
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas operations
</td>
<td>
Production and Distribution
</td>
<td>
Warehouse Assistant Manager
</td>
<td>
3
</td>
<td>
3
</td>
<td>
180,693.35
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas operations
</td>
<td>
Customer Service
</td>
<td>
Customer Service Manager
</td>
<td>
1
</td>
<td>
1
</td>
<td>
100,041.41
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas operations
</td>
<td>
Customer Service
</td>
<td>
Customer Service Coordinator
</td>
<td>
3
</td>
<td>
3
</td>
<td>
154,961.56
</td>
<td>
4,750
</td>
<td>
9
</td>
<td>
0
</td>
<td>
2
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas operations
</td>
<td>
Customer Service
</td>
<td>
Customer Service Representative
</td>
<td>
6
</td>
<td>
7
</td>
<td>
321,854.55
</td>
<td>
2,500
</td>
<td>
4.5
</td>
<td>
0
</td>
<td>
0
</td>
<td>
1
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas operations
</td>
<td>
Sales
</td>
<td>
Regional Sales Manager
</td>
<td>
1
</td>
<td>
1
</td>
<td>
143,207.60
</td>
<td>
3,500
</td>
<td>
4
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas operations
</td>
<td>
Sales
</td>
<td>
District Sales Manager
</td>
<td>
2
</td>
<td>
2
</td>
<td>
253,575.08
</td>
<td>
7,000
</td>
<td>
8
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas operations
</td>
<td>
Sales
</td>
<td>
Branch Sales Manager
</td>
<td>
8
</td>
<td>
8
</td>
<td>
715,509.63
</td>
<td>
38,000
</td>
<td>
45.5
</td>
<td>
1
</td>
<td>
0
</td>
<td>
1
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas operations
</td>
<td>
Sales
</td>
<td>
Level 1 Sales Representative
</td>
<td>
11
</td>
<td>
11
</td>
<td>
620,403.93
</td>
<td>
61,000
</td>
<td>
77
</td>
<td>
0
</td>
<td>
0
</td>
<td>
2
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas operations
</td>
<td>
Sales
</td>
<td>
Level 2 Sales Representative
</td>
<td>
7
</td>
<td>
7
</td>
<td>
693,978.80
</td>
<td>
31,500
</td>
<td>
38.5
</td>
<td>
0
</td>
<td>
0
</td>
<td>
2
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas operations
</td>
<td>
Sales
</td>
<td>
Level 3 Sales Representative
</td>
<td>
13
</td>
<td>
13
</td>
<td>
1,587,456.04
</td>
<td>
50,000
</td>
<td>
60
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Americas operations
</td>
<td>
Operations
</td>
<td>
General Manager of Operations
</td>
<td>
1
</td>
<td>
1
</td>
<td>
205,459.03
</td>
<td>
10,500
</td>
<td>
4
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Human Resources
</td>
<td>
Vice-President of Human Resources
</td>
<td>
1
</td>
<td>
1
</td>
<td>
199,578.71
</td>
<td>
10,500
</td>
<td>
4
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Human Resources
</td>
<td>
Human Resources Administrator
</td>
<td>
0
</td>
<td>
0
</td>
<td>

</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Human Resources
</td>
<td>
Benefit Specialist
</td>
<td>
0
</td>
<td>
0
</td>
<td>

</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Human Resources
</td>
<td>
Human Resources Clerk
</td>
<td>
0
</td>
<td>
0
</td>
<td>

</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Finance
</td>
<td>
Controller
</td>
<td>
1
</td>
<td>
1
</td>
<td>
199,348.94
</td>
<td>
10,500
</td>
<td>
4
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Finance
</td>
<td>
Finance Manager
</td>
<td>
1
</td>
<td>
1
</td>
<td>
126,136.77
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Finance
</td>
<td>
Financial Analyst
</td>
<td>
2
</td>
<td>
2
</td>
<td>
142,899.39
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Finance
</td>
<td>
Budget Analyst
</td>
<td>
2
</td>
<td>
2
</td>
<td>
87,884.70
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Finance
</td>
<td>
Payroll Clerk
</td>
<td>
0
</td>
<td>
0
</td>
<td>

</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Finance
</td>
<td>
Accounting Manager
</td>
<td>
1
</td>
<td>
1
</td>
<td>
94,174.72
</td>
<td>
5,750
</td>
<td>
7
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Finance
</td>
<td>
Accountant 1
</td>
<td>
1
</td>
<td>
1
</td>
<td>
64,397.82
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Finance
</td>
<td>
Accountant 2
</td>
<td>
2
</td>
<td>
2
</td>
<td>
150,618.97
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Finance
</td>
<td>
Accounting Clerk
</td>
<td>
2
</td>
<td>
2
</td>
<td>
65,980.10
</td>
<td>
6,750
</td>
<td>
9.5
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Marketing
</td>
<td>
Vice-President of Marketing
</td>
<td>
1
</td>
<td>
1
</td>
<td>
200,101.57
</td>
<td>
10,500
</td>
<td>
4
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Marketing
</td>
<td>
Marketing Manager
</td>
<td>
1
</td>
<td>
1
</td>
<td>
80,443.82
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Marketing
</td>
<td>
Marketing Specialist
</td>
<td>
1
</td>
<td>
1
</td>
<td>
43,553.27
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Sales (Corporate)
</td>
<td>
Vice-President of Sales Management
</td>
<td>
1
</td>
<td>
1
</td>
<td>
201,692.77
</td>
<td>
10,500
</td>
<td>
4
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Sales (Corporate)
</td>
<td>
Product Manager
</td>
<td>
1
</td>
<td>
1
</td>
<td>
80,444.30
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Sales (Corporate)
</td>
<td>
Product Technician
</td>
<td>
1
</td>
<td>
1
</td>
<td>
47,799.64
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Procurement
</td>
<td>
Procurement Manager
</td>
<td>
0
</td>
<td>
0
</td>
<td>

</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Procurement
</td>
<td>
Procurement Coordinator
</td>
<td>
0
</td>
<td>
0
</td>
<td>

</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Procurement
</td>
<td>
Procurement Clerk
</td>
<td>
0
</td>
<td>
0
</td>
<td>

</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Information Services and Technology
</td>
<td>
Vice-President of Information Technology
</td>
<td>
1
</td>
<td>
1
</td>
<td>
201,187.73
</td>
<td>
10,500
</td>
<td>
4
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Information Services and Technology
</td>
<td>
Information Technology Manager
</td>
<td>
1
</td>
<td>
1
</td>
<td>
91,100.50
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Information Services and Technology
</td>
<td>
System Analyst
</td>
<td>
1
</td>
<td>
1
</td>
<td>
37,423.90
</td>
<td>
8,250
</td>
<td>
9.5
</td>
<td>
0
</td>
<td>
0
</td>
<td>
1
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Information Services and Technology
</td>
<td>
Software Engineer
</td>
<td>
4
</td>
<td>
4
</td>
<td>
217,882.33
</td>
<td>
8,250
</td>
<td>
9.5
</td>
<td>
0
</td>
<td>
0
</td>
<td>
1
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Information Services and Technology
</td>
<td>
Computer Operator
</td>
<td>
1
</td>
<td>
1
</td>
<td>
32,963.67
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Executive Offices
</td>
<td>
Executive Vice-President
</td>
<td>
1
</td>
<td>
1
</td>
<td>
239,109.25
</td>
<td>
10,500
</td>
<td>
4
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe corporate
</td>
<td>
Production and Distribution
</td>
<td>
Regional Manager
</td>
<td>
1
</td>
<td>
1
</td>
<td>

</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe operations
</td>
<td>
Sales (Corporate)
</td>
<td>
Product Technician
</td>
<td>
0
</td>
<td>
0
</td>
<td>

</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe operations
</td>
<td>
Production and Distribution
</td>
<td>
Regional Manager
</td>
<td>

</td>
<td>

</td>
<td>
117,411.09
</td>
<td>

</td>
<td>

</td>
<td>

</td>
<td>

</td>
<td>

</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe operations
</td>
<td>
Production and Distribution
</td>
<td>
Franchise Distribution Manager
</td>
<td>
1
</td>
<td>
1
</td>
<td>
65,825.06
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe operations
</td>
<td>
Production and Distribution
</td>
<td>
Warehouse Manager
</td>
<td>
1
</td>
<td>
1
</td>
<td>
57,441.89
</td>
<td>
4,300
</td>
<td>
9
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe operations
</td>
<td>
Production and Distribution
</td>
<td>
Warehouse Worker
</td>
<td>
4
</td>
<td>
5
</td>
<td>
139,160.58
</td>
<td>
5,600
</td>
<td>
17.5
</td>
<td>
0
</td>
<td>
0
</td>
<td>
3
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe operations
</td>
<td>
Production and Distribution
</td>
<td>
Warehouse Assistant Manager
</td>
<td>
1
</td>
<td>
1
</td>
<td>
25,222.98
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
1
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe operations
</td>
<td>
Customer Service
</td>
<td>
Customer Service Manager
</td>
<td>
1
</td>
<td>
1
</td>
<td>
78,372.94
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe operations
</td>
<td>
Customer Service
</td>
<td>
Customer Service Coordinator
</td>
<td>
2
</td>
<td>
2
</td>
<td>
105,559.95
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe operations
</td>
<td>
Customer Service
</td>
<td>
Customer Service Representative
</td>
<td>
2
</td>
<td>
2
</td>
<td>
87,532.64
</td>
<td>

</td>
<td>

</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe operations
</td>
<td>
Sales
</td>
<td>
Regional Sales Manager
</td>
<td>
1
</td>
<td>
1
</td>
<td>
135,387.97
</td>
<td>
3,500
</td>
<td>
4
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe operations
</td>
<td>
Sales
</td>
<td>
District Sales Manager
</td>
<td>
2
</td>
<td>
2
</td>
<td>
233,851.03
</td>
<td>
7,000
</td>
<td>
8
</td>
<td>
0
</td>
<td>
0
</td>
<td>
0
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe operations
</td>
<td>
Sales
</td>
<td>
Branch Sales Manager
</td>
<td>
6
</td>
<td>
7
</td>
<td>
537,587.01
</td>
<td>
30,750
</td>
<td>
36.5
</td>
<td>
2
</td>
<td>
0
</td>
<td>
2
</td>

</tr>
<tr>
<td>
2014
</td>
<td>
GO Central Europe operations
</td>
<td>
Sales
</td>
<td>
Level 1 Sales Representative
</td>
<td>
4
</td>
<td>
5
</td>
<td>
306,047.95
</td>
<td>
20,500
</td>
<td>
24.5
</td>
<td>
1
</td>
<td>
0
</td>
<td>
2
</td>

</tr>

</table>

</body>

</html>