* {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.sign {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin: 5%;
}

.container {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table {
    margin: auto;
    text-align: left;
}

::selection {
    color: lightpink;
}

th,
td {
    padding: 8px;
}

td {
    text-transform: uppercase;
    background-color: #e4e4e4;
    border: solid white;
    margin: 10px;
    padding: 10px;
}

.btn {
    outline:none !important;
}

.form {
    background: white;
    display: none;
    justify-content: center;
    margin: auto;
    position: fixed;
    right: 1%;
    top: 10%;
}

input {
    outline:none;
    border: 1px solid #e4e4e4;
    border-radius: 20px;
    text-align: center;
    margin-left: 10px;
    height: 30px;
}

.btn:hover {
    background: lightgreen;
}

tr:hover {
    background-color: lightgray;
}

.hidden {
    position: fixed;
    right: 1%;
    top: 5%;
}

.offer:hover {
    left: 0;
    transition: left 1s;
}